body {
  margin: 0;
  padding: 0;
}

.sandwich {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sandwich img {
  /* visibility: ; */
  margin-right: 100px;
}

.sandwich button {
  margin-left: 80px;
}

.description {
  width: 300px;
}

.description .name {
  color: orange;
  font-size: 30px;
  text-align: center;
}

.description p {
  font-size: 20px;
}

.description .price {
  color: green;
  font-size: 20px;
}

.cheque-div {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.cat {
  background-color: #661226;
  color: white;
  width: 130px;
  height: 30px;
  border-radius: 5px;
}

.cat:hover {
  background-color: #e390a3;
}

.cheque-div .cat {
  margin: 10px;
}

/****************************************************************************************************************************/
.cheque {
  display: none;
  border: 1px solid black;
  background-color: black;
  margin: 0 550px 20px;
  padding: 7px 4px;
  min-width: 400px;
  color: white;
}

.invoice-items {
  display: flex;
  flex-direction: row;
}

.invoice-items .item {
  margin-right: 170px;
}

.invoice-items .price {
  margin-right: 40px;
}

hr {
  width: 300px;
  border: none;
  border-top: 1px dashed black;
  margin-left: 0;
  color: white;
  background-color: white;
}

.sand_ {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.sand_ .s-name {
  width: 170px;
}

.sand_ .s-price {
  margin: 0 60px 0 35px;
}

#confirm {
  background-color: #0e86d4;
  color: white;
  font-size: 1.2rem;
  margin: 10px 0 10px 75%;
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
